<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feng.server.mapper.AdminMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.feng.server.entity.Admin">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="phone" property="phone" />
        <result column="telephone" property="telephone" />
        <result column="address" property="address" />
        <result column="enabled" property="enabled" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="userFace" property="userFace" />
        <result column="remark" property="remark" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, phone, telephone, address, enabled, username, password, userFace, remark
    </sql>

    <resultMap id="AdminWithRole" type="org.feng.server.entity.Admin"
               extends="BaseResultMap">
        <collection property="roles" ofType="org.feng.server.entity.Role">
            <id column="rid" property="id" />
            <result column="rname" property="name" />
            <result column="rnameZh" property="nameZh" />
        </collection>
    </resultMap>

    <!--获取所有操作员-->
    <select id="getAllAdmins" resultMap="AdminWithRole">
        SELECT
        a.id,
        a.`name`,
        a.phone,
        a.telephone,
        a.address,
        a.enabled,
        a.username,
        a.userface,
        a.remark,
        r.id AS rid,
        r.`name` AS rname,
        r.nameZh AS rnameZh
        FROM
        t_admin AS a
        LEFT JOIN t_admin_role AS ar ON ar.adminId = a.id
        LEFT JOIN t_role AS r ON ar.rid = r.id
        WHERE
        a.id != #{id}
        <if test="null!=keywords and ''!=keywords">
            AND a.name like concat ('%',#{keywords},'%')
        </if>
        ORDER BY
        a.id
    </select>


</mapper>
