<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.feng.server.mapper.DepartmentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.feng.server.entity.Department">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="parentId" property="parentId" />
        <result column="depPath" property="depPath" />
        <result column="enabled" property="enabled" />
        <result column="isParent" property="isParent" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, parentId, depPath, enabled, isParent
    </sql>

    <resultMap id="DepartmentWithChildren"
               type="org.feng.server.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="org.feng.server.entity.Department"
                    select="org.feng.server.mapper.DepartmentMapper.getAllDepartmentsByParentId"
                    column="id">
        </collection>
    </resultMap>

    <!--获取所有部门-->
    <select id="getAllDepartmentsByParentId" resultMap="DepartmentWithChildren">
        select
        <include refid="Base_Column_List"/>
        from t_department
        where parentId = #{parentId}
    </select>
</mapper>
